{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
		<h1>{{ .Title }}</h1>
	</header>

	<article>
		{{ .Content }}
	</article>
  <br/>
  <footer>
    <small>
          Publicado em: {{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}
          por <b>{{ .Site.Author.name }}</b>
    </small>
  </footer>
</main>


{{ if .Site.DisqusShortname }}
      <hr/>
      {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
