{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
      <h1>{{ .Title }}</h1>
	</header>

	<article>
        <img src="{{ .Site.BaseURL }}/images/post/{{ .Params.postimage }}" alt=""
        class="img-responsive"
        style="width: 100%; padding-bottom:20px; "/>

    {{ .Content }}
	</article>
  <br/>
  <footer>
    <small>
          Publicado em: {{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} de {{ .Date.Year }}
          por <b>{{ .Site.Author.name }}</b>
    </small>
    <br/>
    <div class="addthis_sharing_toolbox"></div>
  </footer>
</main>


{{ if .Site.DisqusShortname }}
      <hr/>
      <div id="disqus_thread"></div>
      <script>
          var disqus_config = function () {
              this.page.url = {{ .Permalink }};  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = {{ .Title | urlize }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = '//juliano-marcon.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{ end }}

<hr/>
<div class="text-center">
  mais
</div>
<div class="row">
  <div class="col-md-6 text-right ">
    <a class="btn cc-btn-default{{if not .PrevInSection}} disabled{{end}}" href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">{{if not .PrevInSection}} {{else}} {{.PrevInSection.Title}} <i class="fa fa-backward"></i> {{end}}</a>
  </div>
  <div class="col-md-6">
    <a class="btn cc-btn-default{{if not .NextInSection}} disabled{{end}}" href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">{{if not .NextInSection}} {{else}} <i class="fa fa-forward"></i> {{.NextInSection.Title}} {{end}}</a>
  </div>
</div>

{{ partial "footer.html" . }}
