$body-color: #354157;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

$primary: #455A64;
$primary-light: #718792;
$primary-dark: #1c313a;
$primary-text: #efefef;
$primary-text-dark: #1f1f1f;

$secondary: #0277bd;
$secondary-light: #58a5f0;
$secondary-dark: #004c8c;
$secondary-text: #efefef;
$secondary-text-dark: #1f1f1f;
