$background: #ffffff;
$body-back: darken($background, 7%);
$primary: #1abc9c;
$text: #333333;
$blog-text: #696767;

@mixin shadow {
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

$padding: 30px;
