{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
  <header>
    <h1>{{ .Title }}</h1>
  </header>

  <article>
    {{ .Content }}

<hr/>
    <h6>Mais informações:</h6>
    <ul>
        <li><a href="{{ .Site.BaseURL }}professional/"><i class="fa fa-file-text-o"></i> Profissional</a></li>
        <li><a href="{{ .Site.BaseURL }}certification/"><i class="fa fa-check-square-o"></i> Certificações</a></li>
        <li><a href="{{ .Site.BaseURL }}education/"><i class="fa fa-book"></i> Cursos</a></li>
    </ul>

  </article>

</main>
{{ partial "footer.html" . }}
