---
layout: main
title: Apresentações
---
<div class="sub-title">
    <h1>{{ page.title }}</h1>
</div>

<div class="content-page col-md-12">
    {% assign sorted = (site.pages | sort: 'date') | reverse  %}
    {% for page in sorted %}
    {% if page.layout == "presentation" %}
    <article class="row">
        {% if page.img %}
        <a class="post-thumbnail col-md-4"
            style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : page.img}})"
            href="{{page.url | prepend: page.baseurl}}"></a>
        {% else %}
        {% endif %}

        <div class={% if page.img %}"col-md-8"{% else %}"col-md-12"{% endif%}>
            <h2 class="post-title"><a href="{{page.url | prepend: page.baseurl}}">{{page.title}}</a></h2>
            <p>{{ page.description }}</p>
        </div>
    </article>
    {% else %}
    {% endif %}
    {% endfor %}
</div>
