---
layout: default
---
<aside class="sidebar col-md-3">
  <div class="sticky-top">
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/assets/img/{% if site.author.img %}{{site.author.img}}{% endif %}"
            alt="{{site.author.name}}">
        </a>
      </div>
      <section class="menu">
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/presentations">Apresentações</a></li>
        </ul>
      </section>
      <div class="author-name">{{site.author.name}}</div>


      {% comment %}
      <a href="/about"><span class="fa fa-file"></span> ABOUT</a>
      <span>Posts: {{ site.posts | size }} </span>
      <span>Categories: {{ site.categories | size }}</span>
      <span>Tags: {{site.tags | size }}</span>
      {% endcomment %}
    </div>

    <section class="contact">
      <ul>
        {% if site.social-twitter %}
        <li><a class="twitter" href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i
              class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
        <li><a class="facebook" href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i
              class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
        <li><a class="github" href="http://github.com/{{site.social-github}}" target="_blank"><em
              class="fa fa-github"></em></a></li>
        {% endif %}
        {% if site.social-linkedin %}
        <li><a class="linkedin" href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><em
              class="fa fa-linkedin"></em></a></li>
        {% endif %}
        <li><a class="rss" href="/feed.xml"><span class="fa fa-rss"></span></a></li>
      </ul>
    </section> 

  </div>
</aside>

<div class="col-md-9 page-body">
  <div class="col-md-12 ">
    {{ content }}
  </div>
</div>