.wrap-content {
    padding: 20px;
  }
  
  .header-page {
    text-align: center;
    margin: 10px 0;
    .page-title {
      font-weight: 400;
      margin: 0 0 10px;
      line-height: 1.3;
    }
    .page-date {
      color: $dark-gray;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  
  .page-cover-image {
    position: relative;
    padding: 0;
    margin: 0;
    max-height: 500px;
    background-color: lighten($primary-light,40%);
    overflow: hidden;
    figure {
      position: relative;
      text-align: center;
      // margin: 0;
      border-radius: 7px;
    }
    figcaption {
      position: absolute;
      top: 20px;
      right: 20px;
      padding-left: 20px;
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      font-weight: 700;
      text-transform: uppercase;
      font-size: 10px;
    }
    .page-image {
      object-fit: cover;
      // width: auto;
      // height: 100vh;
      // max-width: 90vw;
      max-height: 480px;
      // height: -moz-available;          /* WebKit-based browsers will ignore this. */
      // height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      // height: fill-available;
      border-radius: 7px;
      border: 1px solid $primary-light;
    }
  }
  
  .page-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin: 30px 0  ;
    border-bottom: 1px solid $dark-gray;
    .page-share {
      margin-bottom: 10px;
      text-align: left;
      margin: 0 auto;
      a {
        display: inline-block;
        text-decoration: none;
        background-color: $lightgray;
        border: 1px solid $gray;
        padding: 5px 10px;
        margin-left: 5px;
        color: $dark-blue;
        font-size: 12px;
        transition: background-color .3s;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          background-color: $gray;
        }
      }
    }
    .page-tag {
      margin: 0 auto;
      flex-grow: 0;
      a {
        color: white;
        text-decoration: none;
        font-size: 10px;
        padding: 5px 10px;
        margin-left: 5px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }